# Comments only at go at the beginning of a line; don't append
# Paths with slashes are relative to the location of this ignore file
# Trailing slash matches everything inside that directory
# Names without spaces are ignored anywhere in the tree
# ! reverses a selection

# Start by ignoring everything by default
*

# The rest of this file will add back things we want to track

# Track directories, so we can recurse into them
!*/

# Track these Git files
!.gitignore
!README.md
!LICENSE.md

# Z Shell
!zsh/.zshrc

# Vi
!.nvim/config/nvim/init.vim

# Emacs: only the org file.  Other files should be handled by the computer
!emacs/emacs-config.org

# Karabiner
!karabiner/.config/karabiner/karabiner.json
!karabiner/.config/karabiner/assets/

# iTerm2
!iterm2/com.googlecode.iterm2.plist

